Repository ArcadeAI/arcade-ai, pull requests merged in 2025-01, with the labels that each got.

#196 Remove tools relying on deprecated Spotify endpoints
  toolkits/spotify/arcade_spotify/tools/constants.py
  toolkits/spotify/arcade_spotify/tools/tracks.py
  toolkits/spotify/evals/eval_tracks.py
  toolkits/spotify/pyproject.toml
Labels: type: breaking change

#204 Pytests for Spotify tools
  toolkits/spotify/arcade_spotify/tools/constants.py
  toolkits/spotify/arcade_spotify/tools/player.py
  toolkits/spotify/conftest.py
  toolkits/spotify/tests/test_player.py
  toolkits/spotify/tests/test_search.py
  toolkits/spotify/tests/test_tracks.py
  toolkits/spotify/tests/test_utils.py
Labels: toolkit: patch

#207 Removed unused param
  toolkits/google/arcade_google/tools/gmail.py
Labels: toolkit: major

#205 Improve Docker Build and Deployment for Arcade Worker
  .github/workflows/release-containers.yml
  Makefile
  docker/Dockerfile
  docker/Makefile
  docker/README.md
  docker/docker-compose.yml
  docker/docker.engine.yaml
  docker/env.example
  docker/nginx.conf
  docker/start.sh
  docker/toolkits.txt
  examples/serving-tools/docker/Dockerfile
  examples/serving-tools/docker/README.md
  examples/serving-tools/docker/toolkits.txt
  examples/serving-tools/modal/README.md
  examples/serving-tools/modal/run-arcade-worker.py
Labels: component: worker, component: ci/cd

#227 Make starred = True by default in Github tool
  toolkits/github/arcade_github/tools/activity.py
Labels: toolkit: minor

#232 Fix bug in slack tool pagination
  toolkits/slack/arcade_slack/tools/chat.py
  toolkits/slack/tests/test_chat.py
Labels: toolkit: patch

#234 Whitelist Toolkit Release Managers
  .github/workflows/check-unauthorized-toolkit-updates.yml
  toolkits/TOOLKIT_RELEASE_MANAGERS.txt
Labels: component: ci/cd

#233 Update Examples & Various Renames
  CONTRIBUTING.md
  Makefile
  README.md
  arcade/README.md
  arcade/arcade/cli/display.py
  arcade/arcade/cli/launcher.py
  arcade/arcade/cli/main.py
  arcade/arcade/cli/serve.py
  arcade/arcade/core/config_model.py
  arcade/arcade/templates/{{ toolkit_name }}/README.md
  arcade/pyproject.toml
  contrib/langchain/Makefile
  contrib/langchain/README.md
  contrib/langchain/pyproject.toml
  examples/call_a_tool_directly.py
  examples/call_a_tool_directly_with_auth.py
  examples/call_a_tool_with_llm.py
  examples/call_multiple_tools_directly_with_auth.py
  examples/call_multiple_tools_with_llm.py
  examples/get_auth_token.py
  examples/langchain/studio/README.md
  examples/simple_chatbot.py
  toolkits/code_sandbox/pyproject.toml
  toolkits/github/pyproject.toml
  toolkits/google/pyproject.toml
  toolkits/linkedin/pyproject.toml
  toolkits/math/pyproject.toml
  toolkits/search/pyproject.toml
  toolkits/slack/pyproject.toml
  toolkits/spotify/pyproject.toml
  toolkits/web/pyproject.toml
  toolkits/x/pyproject.toml
  toolkits/zoom/pyproject.toml
Labels: type: documentation, component: examples

#236 [Toolkit Release] Weekly Toolkit Release 01-29-25
  toolkits/github/pyproject.toml
  toolkits/slack/pyproject.toml
Labels: toolkit: release
