Repository ArcadeAI/arcade-ai, pull requests merged in 2025-02, with the labels that each got.

#240 Fix missing scopes in tools that call other tools
  toolkits/slack/arcade_slack/tools/chat.py
  toolkits/slack/pyproject.toml
Labels: toolkit: patch, toolkit: release

#256 X Toolkit: Handle no tweets returned in search
  toolkits/x/arcade_x/tools/tweets.py
  toolkits/x/tests/test_tweets.py
Labels: toolkit: patch

#254 Slack tools to retrieve messages & metadata from multi-person DM conversation
  toolkits/slack/arcade_slack/exceptions.py
  toolkits/slack/arcade_slack/tools/chat.py
  toolkits/slack/arcade_slack/utils.py
  toolkits/slack/evals/eval_chat.py
  toolkits/slack/tests/test_chat.py
Labels: toolkit: minor

#261 [Toolkit Release] Weekly Toolkit Release 02-20-25
  contrib/crewai/README.md
  toolkits/google/pyproject.toml
  toolkits/slack/pyproject.toml
  toolkits/x/pyproject.toml
Labels: toolkit: release
