Repository ArcadeAI/arcade-ai, pull requests merged in 2025-03, with the labels that each got.

#271 fix: Use tool secrets in toolkits
  toolkits/code_sandbox/arcade_code_sandbox/tools/e2b.py
  toolkits/code_sandbox/arcade_code_sandbox/tools/utils.py
  toolkits/code_sandbox/pyproject.toml
  toolkits/code_sandbox/tests/test_e2b.py
  toolkits/search/arcade_search/tools/google.py
  toolkits/search/arcade_search/tools/utils.py
  toolkits/search/pyproject.toml
  toolkits/search/tests/test_google.py
  toolkits/web/arcade_web/tools/firecrawl.py
  toolkits/web/arcade_web/tools/utils.py
  toolkits/web/pyproject.toml
  toolkits/web/tests/test_firecrawl.py
Labels: toolkit: major, toolkit: release

#269 Tool to retrieve file tree structure from Google 'My Drive' and 'Shared Drives'
  toolkits/google/arcade_google/tools/drive.py
  toolkits/google/arcade_google/tools/utils.py
  toolkits/google/conftest.py
  toolkits/google/evals/eval_google_drive.py
  toolkits/google/tests/test_drive.py
Labels: toolkit: minor

#265 Search Google Drive documents and retrieve contents
  toolkits/google/arcade_google/constants.py
  toolkits/google/arcade_google/doc_to_html.py
  toolkits/google/arcade_google/doc_to_markdown.py
  toolkits/google/arcade_google/exceptions.py
  toolkits/google/arcade_google/models.py
  toolkits/google/arcade_google/tools/calendar.py
  toolkits/google/arcade_google/tools/contacts.py
  toolkits/google/arcade_google/tools/docs.py
  toolkits/google/arcade_google/tools/drive.py
  toolkits/google/arcade_google/tools/gmail.py
  toolkits/google/arcade_google/utils.py
  toolkits/google/conftest.py
  toolkits/google/evals/eval_google_drive.py
  toolkits/google/evals/eval_google_gmail.py
  toolkits/google/tests/test_calendar.py
  toolkits/google/tests/test_doc_to_markdown.py
  toolkits/google/tests/test_docs.py
  toolkits/google/tests/test_drive.py
  toolkits/google/tests/test_gmail.py
Labels: toolkit: major

#280 Release Google Toolkit version 1.0.0
  toolkits/google/arcade_google/tools/docs.py
  toolkits/google/arcade_google/tools/drive.py
  toolkits/google/pyproject.toml
Labels: toolkit: release

#285 Various Search Toolkits
  toolkits/search/arcade_search/enums.py
  toolkits/search/arcade_search/tools/__init__.py
  toolkits/search/arcade_search/tools/google_finance.py
  toolkits/search/arcade_search/tools/google_flights.py
  toolkits/search/arcade_search/tools/google_hotels.py
  toolkits/search/arcade_search/tools/google_search.py
  toolkits/search/arcade_search/utils.py
  toolkits/search/conftest.py
  toolkits/search/evals/eval_google_search.py
  toolkits/search/pyproject.toml
  toolkits/search/tests/test_google_search.py
  toolkits/search/tests/test_utils.py
Labels: toolkit: minor

#283 Notion Toolkit
  toolkits/notion/.pre-commit-config.yaml
  toolkits/notion/.ruff.toml
  toolkits/notion/LICENSE
  toolkits/notion/Makefile
  toolkits/notion/arcade_notion/__init__.py
  toolkits/notion/arcade_notion/block_to_markdown_converter.py
  toolkits/notion/arcade_notion/constants.py
  toolkits/notion/arcade_notion/enums.py
  toolkits/notion/arcade_notion/markdown_to_block_converter.py
  toolkits/notion/arcade_notion/tools/__init__.py
  toolkits/notion/arcade_notion/tools/pages.py
  toolkits/notion/arcade_notion/tools/search.py
  toolkits/notion/arcade_notion/types.py
  toolkits/notion/arcade_notion/utils.py
  toolkits/notion/conftest.py
  toolkits/notion/evals/eval_notion_pages.py
  toolkits/notion/evals/eval_notion_search.py
  toolkits/notion/pyproject.toml
  toolkits/notion/tests/__init__.py
  toolkits/notion/tests/test_block_to_markdown_converter.py
  toolkits/notion/tests/test_tools_pages.py
  toolkits/notion/tests/test_tools_search.py
  toolkits/notion/tests/test_utils.py
Labels: toolkit: release

#311 Add Google News, Jobs, and Maps Tools
  toolkits/search/arcade_search/constants.py
  toolkits/search/arcade_search/enums.py
  toolkits/search/arcade_search/exceptions.py
  toolkits/search/arcade_search/google_data.py
  toolkits/search/arcade_search/tools/__init__.py
  toolkits/search/arcade_search/tools/google_jobs.py
  toolkits/search/arcade_search/tools/google_maps.py
  toolkits/search/arcade_search/tools/google_news.py
  toolkits/search/arcade_search/utils.py
  toolkits/search/evals/eval_google_jobs.py
  toolkits/search/evals/eval_google_maps_directions.py
  toolkits/search/tests/test_google_jobs.py
  toolkits/search/tests/test_google_maps_directions.py
  toolkits/search/tests/test_google_search.py
Labels: toolkit: minor

#312 Bump search toolkit version
  toolkits/search/pyproject.toml
Labels: toolkit: release

#313 Fix Slack bug when sending msg to a private channel
  toolkits/slack/arcade_slack/tools/chat.py
  toolkits/slack/pyproject.toml
  toolkits/slack/tests/test_chat.py
Labels: toolkit: patch

#316 YouTube Search tools
  toolkits/search/arcade_search/constants.py
  toolkits/search/arcade_search/tools/youtube.py
  toolkits/search/arcade_search/utils.py
Labels: toolkit: minor

#320 Walmart shopping search tools
  toolkits/search/arcade_search/enums.py
  toolkits/search/arcade_search/tools/walmart.py
  toolkits/search/arcade_search/utils.py
Labels: toolkit: minor

#317 Google Shopping search tool
  toolkits/search/arcade_search/constants.py
  toolkits/search/arcade_search/google_data.py
  toolkits/search/arcade_search/tools/google_shopping.py
  toolkits/search/arcade_search/utils.py
Labels: toolkit: minor

#321 Google Sheets Tools
  toolkits/google/arcade_google/constants.py
  toolkits/google/arcade_google/enums.py
  toolkits/google/arcade_google/models.py
  toolkits/google/arcade_google/tools/sheets.py
  toolkits/google/arcade_google/utils.py
  toolkits/google/evals/eval_google_sheets.py
  toolkits/google/tests/test_sheets_models.py
  toolkits/google/tests/test_sheets_utils.py
Labels: toolkit: minor

#327 Improve error message when an exception is raised at toolkit import time upon Worker startup
  arcade/arcade/core/catalog.py
Labels: type: feature, component: worker

#329 Toolkit Release 03-25-25
  toolkits/google/pyproject.toml
  toolkits/search/pyproject.toml
Labels: toolkit: release

#332 Dropbox Toolkit
  toolkits/dropbox/.pre-commit-config.yaml
  toolkits/dropbox/.ruff.toml
  toolkits/dropbox/LICENSE
  toolkits/dropbox/Makefile
  toolkits/dropbox/arcade_dropbox/__init__.py
  toolkits/dropbox/arcade_dropbox/constants.py
  toolkits/dropbox/arcade_dropbox/critics.py
  toolkits/dropbox/arcade_dropbox/exceptions.py
  toolkits/dropbox/arcade_dropbox/tools/browse.py
  toolkits/dropbox/arcade_dropbox/tools/files.py
  toolkits/dropbox/arcade_dropbox/utils.py
  toolkits/dropbox/conftest.py
  toolkits/dropbox/evals/eval_download_file.py
  toolkits/dropbox/evals/eval_list_items.py
  toolkits/dropbox/evals/eval_search.py
  toolkits/dropbox/pyproject.toml
  toolkits/dropbox/tests/test_download_file.py
  toolkits/dropbox/tests/test_list_items.py
  toolkits/dropbox/tests/test_search_files.py
Labels: toolkit: release
