Repository ArcadeAI/arcade-ai, pull requests merged in 2025-05, with the labels that each got.

#368 Support for MCP stdio transport
  .vscode/settings.json
  arcade/arcade/cli/deployment.py
  arcade/arcade/cli/main.py
  arcade/arcade/cli/serve.py
  arcade/arcade/cli/utils.py
  arcade/arcade/core/schema.py
  arcade/arcade/core/utils.py
  arcade/arcade/worker/core/base.py
  arcade/arcade/worker/core/common.py
  arcade/arcade/worker/core/components.py
  arcade/arcade/worker/fastapi/__init__.py
  arcade/arcade/worker/fastapi/worker.py
  arcade/arcade/worker/mcp/__init__.py
  arcade/arcade/worker/mcp/convert.py
  arcade/arcade/worker/mcp/logging.py
  arcade/arcade/worker/mcp/message_processor.py
  arcade/arcade/worker/mcp/server.py
  arcade/arcade/worker/mcp/stdio.py
  arcade/arcade/worker/mcp/types.py
  arcade/tests/deployment/test_config.py
  arcade/tests/mcp/test_convert.py
  arcade/tests/mcp/test_message_processor.py
  arcade/tests/mcp/test_server.py
  arcade/tests/mcp/test_stdio.py
  arcade/tests/worker/test_worker_base.py
  arcade/tests/worker/test_worker_fastapi.py
  examples/mcp/claude.json
  examples/mcp/run_stdio.py
  examples/simple_chatbot.py
Labels: size: large, component: worker

#388 Add Asana class to auth init
  arcade/arcade/sdk/auth/__init__.py
Labels: type: fix

#381 Asana Toolkit
  docker/toolkits.txt
  toolkits/asana/.pre-commit-config.yaml
  toolkits/asana/.ruff.toml
  toolkits/asana/LICENSE
  toolkits/asana/Makefile
  toolkits/asana/arcade_asana/__init__.py
  toolkits/asana/arcade_asana/constants.py
  toolkits/asana/arcade_asana/decorators.py
  toolkits/asana/arcade_asana/exceptions.py
  toolkits/asana/arcade_asana/models.py
  toolkits/asana/arcade_asana/tools/__init__.py
  toolkits/asana/arcade_asana/tools/projects.py
  toolkits/asana/arcade_asana/tools/tags.py
  toolkits/asana/arcade_asana/tools/tasks.py
  toolkits/asana/arcade_asana/tools/teams.py
  toolkits/asana/arcade_asana/tools/users.py
  toolkits/asana/arcade_asana/tools/workspaces.py
  toolkits/asana/arcade_asana/utils.py
  toolkits/asana/conftest.py
  toolkits/asana/evals/eval_create_task.py
  toolkits/asana/evals/eval_projects.py
  toolkits/asana/evals/eval_tags.py
  toolkits/asana/evals/eval_tasks.py
  toolkits/asana/evals/eval_teams.py
  toolkits/asana/evals/eval_users.py
  toolkits/asana/evals/eval_workspaces.py
  toolkits/asana/pyproject.toml
  toolkits/asana/tests/test_utils.py
Labels: toolkit: new

#400 DevEx: Hot Reload all installed toolkits on save
  arcade/arcade/cli/main.py
  arcade/arcade/cli/serve.py
  arcade/arcade/core/telemetry.py
  arcade/pyproject.toml
  arcade/tests/core/test_telemetry.py
  docker/start.sh
Labels: component: worker, component: cli

#406 Add Confluence toolkit
  docker/toolkits.txt
  toolkits/confluence/.pre-commit-config.yaml
  toolkits/confluence/.ruff.toml
  toolkits/confluence/LICENSE
  toolkits/confluence/Makefile
  toolkits/confluence/arcade_confluence/__init__.py
  toolkits/confluence/arcade_confluence/client.py
  toolkits/confluence/arcade_confluence/enums.py
  toolkits/confluence/arcade_confluence/tools/__init__.py
  toolkits/confluence/arcade_confluence/tools/attachment.py
  toolkits/confluence/arcade_confluence/tools/page.py
  toolkits/confluence/arcade_confluence/tools/search.py
  toolkits/confluence/arcade_confluence/tools/space.py
  toolkits/confluence/arcade_confluence/utils.py
  toolkits/confluence/evals/conversations.py
  toolkits/confluence/evals/critics.py
  toolkits/confluence/evals/eval_page.py
  toolkits/confluence/evals/eval_search.py
  toolkits/confluence/evals/eval_space.py
  toolkits/confluence/pyproject.toml
  toolkits/confluence/tests/__init__.py
  toolkits/confluence/tests/test_client_v1.py
  toolkits/confluence/tests/test_client_v2.py
  toolkits/confluence/tests/test_utils.py
Labels: toolkit: new
