Repository ArcadeAI/arcade-ai, pull requests merged in 2025-04, with the labels that each got.

#279 Google Calendar tool to find time slots when one or more people (within the same org domain) are simultaneously free
  toolkits/google/arcade_google/critics.py
  toolkits/google/arcade_google/exceptions.py
  toolkits/google/arcade_google/models.py
  toolkits/google/arcade_google/tools/calendar.py
  toolkits/google/arcade_google/utils.py
  toolkits/google/evals/eval_calendar_free_slots.py
  toolkits/google/evals/eval_google_calendar.py
  toolkits/google/tests/test_calendar.py
Labels: toolkit: minor

#336 Add Reddit Toolkit
  toolkits/reddit/.pre-commit-config.yaml
  toolkits/reddit/.ruff.toml
  toolkits/reddit/LICENSE
  toolkits/reddit/Makefile
  toolkits/reddit/arcade_reddit/__init__.py
  toolkits/reddit/arcade_reddit/client.py
  toolkits/reddit/arcade_reddit/enums.py
  toolkits/reddit/arcade_reddit/tools/__init__.py
  toolkits/reddit/arcade_reddit/tools/read.py
  toolkits/reddit/arcade_reddit/tools/submit.py
  toolkits/reddit/arcade_reddit/utils.py
  toolkits/reddit/evals/additional_messages.py
  toolkits/reddit/evals/critics.py
  toolkits/reddit/evals/eval_reddit_read.py
  toolkits/reddit/evals/eval_reddit_submit.py
  toolkits/reddit/pyproject.toml
  toolkits/reddit/tests/__init__.py
  toolkits/reddit/tests/test_utils.py
Labels: toolkit: release

#358 Increase httpx timeout for a Notion Tool
  toolkits/notion/arcade_notion_toolkit/tools/search.py
  toolkits/notion/pyproject.toml
Labels: toolkit: minor, toolkit: release

#333 Add Stripe toolkit
  toolkits/stripe/.pre-commit-config.yaml
  toolkits/stripe/.ruff.toml
  toolkits/stripe/LICENSE
  toolkits/stripe/Makefile
  toolkits/stripe/_generate.py
  toolkits/stripe/arcade_stripe/__init__.py
  toolkits/stripe/arcade_stripe/evals/eval_stripe.py
  toolkits/stripe/arcade_stripe/tools/__init__.py
  toolkits/stripe/arcade_stripe/tools/stripe.py
  toolkits/stripe/pyproject.toml
  toolkits/stripe/tests/__init__.py
  toolkits/stripe/tests/test_stripe.py
Labels: toolkit: release

#357 Tool Metadata
  arcade/arcade/core/catalog.py
  arcade/arcade/core/schema.py
  arcade/arcade/sdk/__init__.py
  arcade/arcade/sdk/tool.py
  arcade/tests/core/test_schema.py
  arcade/tests/tool/test_create_tool_definition.py
  arcade/tests/tool/test_create_tool_definition_errors.py
  schemas/preview/tool_definition.schema.jsonc
Labels: type: feature

#366 Google Calendar - Strip 'Z' from datetimes
  toolkits/google/arcade_google/utils.py
  toolkits/google/pyproject.toml
Labels: toolkit: release

#352 Add More Reddit Tools
  toolkits/reddit/arcade_reddit/tools/__init__.py
  toolkits/reddit/arcade_reddit/tools/read.py
  toolkits/reddit/arcade_reddit/utils.py
  toolkits/reddit/evals/eval_reddit_read.py
  toolkits/reddit/pyproject.toml
  toolkits/reddit/tests/test_utils.py
Labels: toolkit: minor

#370 Toolkit Release: Reddit 0.1.0
  toolkits/reddit/pyproject.toml
Labels: toolkit: release

#361 Add Google File Picker Tool
  toolkits/google/arcade_google/tools/__init__.py
  toolkits/google/arcade_google/tools/calendar.py
  toolkits/google/arcade_google/tools/drive.py
  toolkits/google/arcade_google/tools/file_picker.py
  toolkits/google/evals/eval_calendar_free_slots.py
  toolkits/google/evals/eval_file_picker.py
  toolkits/google/evals/eval_google_calendar.py
  toolkits/google/evals/eval_google_contacts.py
  toolkits/google/evals/eval_google_docs.py
  toolkits/google/evals/eval_google_drive.py
  toolkits/google/evals/eval_google_gmail.py
  toolkits/google/evals/eval_google_sheets.py
  toolkits/google/pyproject.toml
  toolkits/google/tests/test_calendar.py
  toolkits/google/tests/test_contacts.py
  toolkits/google/tests/test_docs.py
  toolkits/google/tests/test_drive.py
  toolkits/google/tests/test_file_picker.py
  toolkits/google/tests/test_gmail.py
Labels: toolkit: release

#373 Update Salesforce provider id
  toolkits/salesforce/arcade_salesforce/models.py
  toolkits/salesforce/arcade_salesforce/tools/crm/account.py
  toolkits/salesforce/arcade_salesforce/tools/crm/contact.py
  toolkits/salesforce/tests/test_salesforce_client.py
Labels: toolkit: major

#363 Hubspot toolkit
  docker/toolkits.txt
  toolkits/hubspot/.pre-commit-config.yaml
  toolkits/hubspot/.ruff.toml
  toolkits/hubspot/LICENSE
  toolkits/hubspot/Makefile
  toolkits/hubspot/arcade_hubspot/__init__.py
  toolkits/hubspot/arcade_hubspot/constants.py
  toolkits/hubspot/arcade_hubspot/custom_critics.py
  toolkits/hubspot/arcade_hubspot/enums.py
  toolkits/hubspot/arcade_hubspot/exceptions.py
  toolkits/hubspot/arcade_hubspot/models.py
  toolkits/hubspot/arcade_hubspot/properties.py
  toolkits/hubspot/arcade_hubspot/tools/__init__.py
  toolkits/hubspot/arcade_hubspot/tools/crm/companies.py
  toolkits/hubspot/arcade_hubspot/tools/crm/contacts.py
  toolkits/hubspot/arcade_hubspot/utils.py
  toolkits/hubspot/conftest.py
  toolkits/hubspot/evals/eval_crm_companies.py
  toolkits/hubspot/evals/eval_crm_contacts.py
  toolkits/hubspot/pyproject.toml
  toolkits/hubspot/tests/test_hubspot_client.py
Labels: toolkit: release

#376 Fix google type errors
  toolkits/google/arcade_google/tools/__init__.py
  toolkits/google/pyproject.toml
Labels: toolkit: patch

#375 Update Hubspot toolkit to use Hubspot auth class
  toolkits/hubspot/arcade_hubspot/tools/crm/companies.py
  toolkits/hubspot/arcade_hubspot/tools/crm/contacts.py
  toolkits/hubspot/pyproject.toml
Labels: toolkit: minor
